/* .form-container {
  margin: 0 auto;
  position: relative;
  padding-bottom: 80px;
  overflow-y: auto;
} */

.steps-container {
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
}

.form-section {
  /* display: flex; */
  gap: 20px;
  margin-bottom: 16px;
}

.form-item-full-width {
  flex: 1;
}

.form-section > .form-item-full-width {
  width: 100%;
}
.form-row {
  display: flex;
  gap: 16px;
  flex: 1;
}
.form-item-half-width {
  flex: 1;
}

.map-preview {
  margin-top: 10px;
  border: 1px solid #e0e0e0;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
}

.error-text {
  color: red;
  font-size: 14px;
}

.amenities-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.amenity-tag {
  cursor: pointer;
  font-size: 14px;
  padding: 5px 15px;
  border-radius: 20px;
  color: #7265e3;
  border: 1px solid #7265e3;
}

.amenity-tag.ant-tag-checkable-checked {
  background-color: #7265e3;
  color: #ffffff;
}

.button-group {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
}

.button-group .ant-btn {
  width: 100px;
  height: 40px;
  font-size: 16px;
}

.button-group .ant-btn-primary {
  background-color: #7265e3;
  border-color: #7265e3;
}

.button-group .ant-btn-primary:hover,
.button-group .ant-btn-primary:focus {
  background-color: #fff;
  border-color: #6054d4;
}

.back-btn .button-group .ant-btn {
  border-color: #7265e3;
}

.back-btn .button-group .ant-btn:hover,
.back-btn .button-group .ant-btn:focus {
  color: #6054d4;
  border-color: #6054d4;
}

.button-group .active-btn:hover,
.button-group .active-btn:focus {
  color: #fff !important;
  background-color: #6054d4 !important;
}
